body {
  margin: 0;
}
h1 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  border: none;
  padding: 0;
}
a,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}
h2 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
header {
  width: 100%;
}
header nav {
  height: 100px;
  width: 100%;
  background-color: #020c18;
  min-width: 1200px;
  overflow: hidden;
}
header nav .logo {
  margin-left: 200px;
  padding: 54px 3px 0 3px;
  height: 76px;
  width: 200px;
  line-height: 22px;
  background: url(../images/logo.png) no-repeat 0 20px;
  float: left;
}
header nav .logo h1 {
  color: #00a1e9;
  font-size: 22px;
  letter-spacing: 27px;
  font-weight: normal;
}
header nav .index {
  float: right;
  padding-top: 29px;
  width: 536px;
  margin-right: 200px;
  height: 46px;
}
header nav .index ul {
  display: inline-block;
  width: 382px;
  height: 46px;
  line-height: 46px;
  color: white;
  font-size: 18px;
  word-spacing: 26px;
  letter-spacing: 1px;
}
header nav .index ul li {
  display: inline-block;
}
header nav .index ul li:hover,
header nav .index ul li.active {
  color: #00a1e9;
}
header nav .index ul li:nth-of-type(1) span {
  color: black;
  user-select: none;
}
header nav .index .btn {
  display: inline-block;
  width: 122px;
  height: 42px;
  line-height: 40px;
  text-align: center;
  margin-left: 27px;
  color: white;
  background: url(../images/btn.png) 0 44px;
  letter-spacing: 1px;
  font-size: 19px;
}
header nav .index .btn:hover {
  cursor: pointer;
  background: url(../images/btn.png) no-repeat;
}
header #slide-show {
  background-color: red;
  overflow: hidden;
}
header #slide-show ul {
  display: flex;
  width: 200%;
}
header #slide-show ul li {
  display: inline-block;
  transition: 1s ease-out;
}
header #slide-show ul img {
  max-width: 100%;
  height: auto;
  display: block;
}
header #slide-show #id-div-slide-contorlers .controler {
  display: inline-block;
  width: 42px;
  height: 66px;
  background-color: grey;
  position: relative;
  bottom: 408px;
}
header #slide-show #id-div-slide-contorlers .controler.forward {
  float: right;
}
header #slide-show #id-div-key-count {
  user-select: none;
  text-align: center;
}
header #slide-show #id-div-key-count .key {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #fff;
  color: rgba(0, 0, 0, 0);
}
header #slide-show #id-div-key-count .key:hover,
header #slide-show #id-div-key-count .key.active {
  opacity: 1;
}
