@import "./init.less";

header {
    width: 100%;
    nav {
        height: 100px;
        width: 100%;
        background-color: #020c18;
        min-width: 1200px;
        overflow: hidden;  //clear floats
        
        .logo {
            margin-left: 200px;
            padding: 54px 3px 0 3px;
            height: 76px;
            width: 200px;
            line-height: 22px;
            background: url(../images/logo.png) no-repeat 0 20px;
            float: left;
            h1 { 
                color: #00a1e9;
                font-size: 22px;
                letter-spacing: 27px;
                font-weight: normal;
            }
        }

        .index {
            // background-color: red;
            float: right;
            padding-top: 29px;
            width: 536px;
            margin-right: 200px;
            height: 46px;
            ul {
                display: inline-block;
                width: 382px;
                height: 46px;
                line-height: 46px;
                // background-color: #fff;
                color: white;
                font-size: 18px;
                word-spacing: 26px;
                letter-spacing: 1px;

                li {
                    display: inline-block;
                    &:hover, &.active {
                        color: #00a1e9;
                    }

                    //hack
                    &:nth-of-type(1) {
                        span {
                            color: black;
                            user-select: none;
                        }
                    }
                }

            }    

            .btn {
                display: inline-block;
                width: 122px;
                height: 42px;
                line-height: 40px;
                text-align: center;
                margin-left: 27px;
                color: white;  
                background: url(../images/btn.png) 0 44px;
                letter-spacing: 1px;
                font-size: 19px;
                
                &:hover {
                    cursor: pointer;
                    background: url(../images/btn.png) no-repeat;
                }
            }

        }
    }

    #slide-show{
        background-color: red;
        // width: 100%;
        overflow: hidden;
        ul {
            display: flex;
            width: 200%;
            li {
                display: inline-block;
                transition: 1s ease-out;
            }
            img {
                max-width: 100%; 
                height: auto;  //atuo响应式应该auto 标准宽页面写死 媒体查询后改为自动
                display: block; 
            }
        }

        #id-div-slide-contorlers {
            .controler {
                display: inline-block;
                width: 42px;
                height: 66px;
                background-color: grey;
                position: relative;
                bottom: 408px;

 

                &.forward {
                    float: right;
                    // left: 100%;
                }
            }

        }


        #id-div-key-count {
            // margin: 0 auto;
            // position: absolute;
            user-select: none;
            text-align: center;
            .key {
                display: inline-block;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                opacity: 0.4;
                background-color: #fff;
                color: rgba(0, 0, 0, 0);
                &:hover, &.active {
                    opacity: 1;
                }
            }
        }
    }
}