body {
  margin: 0;
}
h1 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  border: none;
  padding: 0;
}
a,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}
h2 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
body {
  min-width: 980px;
  background-color: white;
}
header nav {
  height: 100px;
  background-color: #020c18;
  overflow: hidden;
}
header nav #id-div-logo {
  padding: 54px 3px 0 3px;
  height: 76px;
  margin-left: 10.41666667%;
  line-height: 22px;
  background: url(../images/logo.png) no-repeat 0 20px;
  float: left;
}
header nav #id-div-logo h1 {
  color: #00a1e9;
  font-size: 22px;
  letter-spacing: 27px;
  font-weight: normal;
}
header nav #id-div-menu {
  float: right;
  padding-top: 29px;
  width: 536px;
  margin-right: 10.41666667%;
  height: 46px;
}
header nav #id-div-menu ul {
  display: inline-block;
  width: 382px;
  height: 46px;
  line-height: 46px;
  color: white;
  font-size: 18px;
  word-spacing: 26px;
  letter-spacing: 1px;
}
header nav #id-div-menu ul li {
  display: inline-block;
}
header nav #id-div-menu ul li:hover,
header nav #id-div-menu ul li.active {
  color: #00a1e9;
}
header nav #id-div-menu ul li:nth-of-type(1) span {
  color: black;
  user-select: none;
}
header nav #id-div-menu .btn {
  display: inline-block;
  width: 122px;
  height: 42px;
  line-height: 40px;
  text-align: center;
  margin-left: 27px;
  color: white;
  background: url(../images/btn.png) 0 44px;
  letter-spacing: 1px;
  font-size: 19px;
}
header nav #id-div-menu .btn:hover {
  cursor: pointer;
  background: url(../images/btn.png) no-repeat;
}
#id-div-slide-show {
  background-color: purple;
}
#id-div-slide-show ul.images {
  display: block;
  position: relative;
  width: 100%;
}
#id-div-slide-show ul.images img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
#id-div-slide-show li {
  position: absolute;
  transition: 1s;
  opacity: 0;
}
#id-div-slide-show li.active {
  opacity: 1;
}
#id-div-slide-show li:last-of-type {
  position: relative;
}
#id-div-slide-show #id-div-controlers {
  width: 100%;
  background-color: red;
}
section.show-item-col {
  margin-top: 160px;
}
section.show-item-col .head {
  margin-bottom: 120px;
}
section.show-item-col .head .title {
  margin-bottom: 14px;
  color: #020c18;
  text-align: center;
  display: block;
  height: 35px;
  line-height: 35px;
  font-size: 35px;
  letter-spacing: 5px;
}
section.show-item-col .head .hr {
  font-size: 35px;
  display: block;
  margin: 0 auto;
  width: 2.5em;
  box-sizing: border-box;
  background-color: #00a1e9;
  border-radius: 5px;
  height: 7px;
}
section.show-item-col .head .title-eng {
  margin-top: 27px;
  letter-spacing: 10px;
  word-spacing: 10px;
  color: #4d4d4d;
  height: 28px;
  line-height: 28px;
  font-size: 28px;
  text-align: center;
  display: block ;
}
section.show-item-col .content {
  width: 79.16666667%;
  margin: 0 auto;
}
section.show-item-col .content.service-offerings {
  height: 682px;
}
section.show-item-col .content.service-offerings .item {
  display: inline-block;
  width: 30.26315789%;
  margin-right: 1.64473684%;
  height: 682px;
  background-color: #fbfbfb;
}
section.show-item-col .content.service-offerings .item:last-of-type(1) {
  margin-right: 0;
}
section.show-item-col .content.service-offerings .item .top {
  line-height: 160px;
  height: 172px;
  text-align: center;
  font-size: 48px;
  letter-spacing: 4px;
  color: white;
  margin-bottom: 55px;
}
section.show-item-col .content.service-offerings .item .middle .li {
  display: block;
  height: 62px;
  line-height: 62px;
  font-size: 32px;
  letter-spacing: 4px;
}
section.show-item-col .content.service-offerings .item:nth-of-type(1) .top {
  background: url(../images/service-offerings.png) no-repeat 0 2px;
  background-size: 100% 300%;
}
section.show-item-col .content.service-offerings .item:nth-of-type(2) .top {
  background: url(../images/service-offerings.png) no-repeat 0 -172px;
  background-size: 100% 300%;
}
section.show-item-col .content.service-offerings .item:nth-of-type(3) .top {
  background: url(../images/service-offerings.png) no-repeat 0 -344px;
  background-size: 100% 300%;
}
