{% extends 'blog/base.html' %}
            {% block title %} {{ post.title }} {% endblock %}
            {% block main %}
                <article class="post post-{{ post.name }}">
                    <header class="entry-header">
                        <h1 class="entry-title">{{ post.title }}</h1>
                        <div class="entry-meta">
                            <br/>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        {{ post.get_body_of_markdown | safe }}
                    </div>
                </article>
                
         {% endblock %}
             